:root {
  /* colors */
  --utp-color-white: #ffffff;
  --utp-color-black: #000000;

  --utp-color-primary: #409eff;
  --utp-color-primary-light-3: #79bbff;
  --utp-color-primary-light-5: #a0cfff;
  --utp-color-primary-light-7: #c6e2ff;
  --utp-color-primary-light-8: #d9ecff;
  --utp-color-primary-light-9: #ecf5ff;
  --utp-color-primary-dark-2: #337ecc;

  --utp-color-success: #67c23a;
  --utp-color-success-light-3: #95d475;
  --utp-color-success-light-5: #b3e19d;
  --utp-color-success-light-7: #d1edc4;
  --utp-color-success-light-8: #e1f3d8;
  --utp-color-success-light-9: #f0f9eb;
  --utp-color-success-dark-2: #529b2e;

  --utp-color-warning: #e6a23c;
  --utp-color-warning-light-3: #eebe77;
  --utp-color-warning-light-5: #f3d19e;
  --utp-color-warning-light-7: #f8e3c5;
  --utp-color-warning-light-8: #faecd8;
  --utp-color-warning-light-9: #fdf6ec;
  --utp-color-warning-dark-2: #b88130;

  --utp-color-danger: #f56c6c;
  --utp-color-danger-light-3: #f89898;
  --utp-color-danger-light-5: #fab5b5;
  --utp-color-danger-light-7: #fcd2d2;
  --utp-color-danger-light-8: #fde1e1;
  --utp-color-danger-light-9: #fef0f0;
  --utp-color-danger-dark-2: #c45656;

  --utp-color-info: #909399;
  --utp-color-info-light-3: #b1b3b8;
  --utp-color-info-light-5: #c8c9cc;
  --utp-color-info-light-7: #dedfe0;
  --utp-color-info-light-8: #e9e9eb;
  --utp-color-info-light-9: #f4f4f5;
  --utp-color-info-dark-2: #73767a;
  /* neutral-colors */
  --utp-bg-color: #ffffff;
  --utp-bg-color-page: #f2f3f5;
  --utp-bg-color-overlay: #ffffff;
  --utp-text-color-primary: #303133;
  --utp-text-color-regular: #606266;
  --utp-text-color-secondary: #909399;
  --utp-text-color-placeholder: #a8abb2;
  --utp-text-color-disabled: #c0c4cc;
  --utp-border-color: #dcdfe6;
  --utp-border-color-light: #e4e7ed;
  --utp-border-color-lighter: #ebeef5;
  --utp-border-color-extra-light: #f2f6fc;
  --utp-border-color-dark: #d4d7de;
  --utp-border-color-darker: #cdd0d6;
  --utp-fill-color: #f0f2f5;
  --utp-fill-color-light: #f5f7fa;
  --utp-fill-color-lighter: #fafafa;
  --utp-fill-color-extra-light: #fafcff;
  --utp-fill-color-dark: #ebedf0;
  --utp-fill-color-darker: #e6e8eb;
  --utp-fill-color-blank: #ffffff;
  /* border */
  --utp-border-width: 1px;
  --utp-border-style: solid;
  --utp-border-color-hover: var(--utp-text-color-disabled);
  --utp-border: var(--utp-border-width) var(--utp-border-style) var(--utp-border-color);
  --utp-border-radius-base: 4px;
  --utp-border-radius-small: 2px;
  --utp-border-radius-round: 20px;
  --utp-border-radius-circle: 100%;
  /* font */
  --utp-font-size-extra-large: 20px;
  --utp-font-size-large: 18px;
  --utp-font-size-medium: 16px;
  --utp-font-size-base: 14px;
  --utp-font-size-small: 13px;
  --utp-font-size-extra-small: 12px;
  --utp-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --utp-font-weight-primary: 500;
  /* disabled */
  --utp-disabled-bg-color: var(--utp-fill-color-light);
  --utp-disabled-text-color: var(--utp-text-color-placeholder);
  --utp-disabled-border-color: var(--utp-border-color-light);
}
