:root {
  /* colors */
  --utp-color-white: #ffffff;
  --utp-color-black: #000000;
  --colors: (
    primary: #F15A7C,
    success: #67c23a,
    error: #e6a23c,
    info: #909399
  );

  @each $val, $color in var(--colors) {
    --utp-color-$(val): $(color);
    @for $i from 3 to 9 by 2 {
      --utp-color-$(val)-light-$(i): mix(#fff, $(color), .$(i))
    }
    --utp-color-$(val)-light-8: mix(#fff, $(color), 0.8);
    --utp-color-$(val)-dark-2: mix(#000, $(color), 0.2);
  }
  /* neutral-colors */
  --utp-bg-color: #ffffff;
  --utp-bg-color-page: #f2f3f5;
  --utp-bg-color-overlay: #ffffff;
  --utp-text-color-primary: #303133;
  --utp-text-color-regular: #606266;
  --utp-text-color-secondary: #909399;
  --utp-text-color-placeholder: #a8abb2;
  --utp-text-color-disabled: #c0c4cc;
  --utp-border-color: #dcdfe6;
  --utp-border-color-light: #e4e7ed;
  --utp-border-color-lighter: #ebeef5;
  --utp-border-color-extra-light: #f2f6fc;
  --utp-border-color-dark: #d4d7de;
  --utp-border-color-darker: #cdd0d6;
  --utp-fill-color: #f0f2f5;
  --utp-fill-color-light: #f5f7fa;
  --utp-fill-color-lighter: #fafafa;
  --utp-fill-color-extra-light: #fafcff;
  --utp-fill-color-dark: #ebedf0;
  --utp-fill-color-darker: #e6e8eb;
  --utp-fill-color-blank: #ffffff;
  /* border */
  --utp-border-width: 1px;
  --utp-border-style: solid;
  --utp-border-color-hover: var(--utp-text-color-disabled);
  --utp-border: var(--utp-border-width) var(--utp-border-style) var(--utp-border-color);
  --utp-border-radius-base: 4px;
  --utp-border-radius-small: 2px;
  --utp-border-radius-round: 20px;
  --utp-border-radius-circle: 100%;
  /* font */
  --utp-font-size-extra-large: 20px;
  --utp-font-size-large: 18px;
  --utp-font-size-medium: 16px;
  --utp-font-size-base: 14px;
  --utp-font-size-small: 13px;
  --utp-font-size-extra-small: 12px;
  --utp-font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
  --utp-font-weight-primary: 500;
  /* disabled */
  --utp-disabled-bg-color: var(--utp-fill-color-light);
  --utp-disabled-text-color: var(--utp-text-color-placeholder);
  --utp-disabled-border-color: var(--utp-border-color-light);
  /* animation */
  --utp-transition-duration: .3s;
  --utp-transition-duration-fast: .2s;
}
